{% extends "base.html" %}

{% block css_head %}
<link rel="stylesheet" href="/static/css/metricsgraphics.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "partials/_time_dropdown.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1>Connect</h1>
            <p><strong>x</strong> developers assisted</p>
            <p><strong>a</strong> new people met</p>
            <p><strong>z</strong> newsletters sent</p>
        </div>
        <div class="col-md-4">
            <h1>Write</h1>
            <p>Average <strong>x</strong> words per day</p>
            <div>
                <p><strong>x</strong> blog posts published</p>
            </div>
        </div>
        <div class="col-md-4">
            <h1>Teach</h1>
            <p><strong>x</strong> upcoming workshops scheduled</p>
            <p><strong>y</strong> talks given</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Connect</h2>
            <ul>
                <li>Connected a with b</li>
                <li>Introduced y to t</li>
                <li>Recommended y to t</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Drinks</h1>
            <div id="drinks-per-day"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_body %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/metricsgraphics.js"></script>
<script type="text/javascript">
  d3.json('/api/drinks/month/', function(data) {
    data = convert_dates(data, 'date');
    data_graphic({
        description: "Drinks per day.",
        data: data,
        width: 800,
        height: 200,
        target: '#drinks-per-day',
        x_accessor: 'date',
        y_accessor: 'drinks'
    });
  });
</script>
{% endblock %}

{% block js_ready %}
{% endblock %}
